<!-- PAGE HEADING -->

<html>

<head>
<base href="..">
<title>Operator Theory and Approximation 2024</title>
<link rel="stylesheet" type="text/css" media="all" href="Styles/main.css"/>
<link rel="stylesheet" type="text/css" media="all" href="Styles/header.css"/>
</head>

<body>

<div class="title">
	<span class="title1">Operator Theory</span>
	<br><br><br><br>
	<span class="title2">and Approximation</span>
</div>
<div class="location">
	July 8-12, 2024. TU Wien, Vienna, Austria
</div>

</body>
</html>

